:root {
  --main-color: #1494a8;
  --border-color: #16a5bb;
  --background-color: #eefbfd;
}

body {
  background-color: #fdfbf3;
}
header {
  text-align: right;
  margin: 30px 0px;
  padding: 20px 20px;
  border: 2px solid var(--border-color);
  border-radius: 4px;
  background-color: var(--background-color);
}

h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
  color: var(--main-color);
}

h1 {
  font-size: 48px;
}

h3 {
  font-style: italic;
  opacity: 75%;
}

p {
  font-family: "Roboto Slab", serif;
  line-height: 1.75;
  padding: 20px 0;
}

main {
  text-align: center;
  padding: 0;
}

footer {
  display: flex;
  justify-content: space-evenly;
  font-size: 48px;
  padding: 20px 20px;
}

main img {
  max-width: 30%;
  display: block;
  margin: 0 auto;
  border: 3px solid var(--border-color);
  border-radius: 50%;
  margin-bottom: 20px;
}

main a {
  margin: 0 10px;
}

footer a {
  color: var(--main-color);
  transition: 150ms ease-in-out;
}

footer a:hover {
  color: var(--border-color);
}
.btn {
  padding: 15px 30px;
  background-color: var(--main-color);
  border: 1px solid var(--border-color);
  transition: 200ms ease-in-out;
}

.btn:hover {
  background-color: white;
  border-color: var(--main-color);
  color: var(--main-color);
}

.fa-canadian-maple-leaf {
  color: red;
}

@media (max-width: 768px) {
  header {
    text-align: center;
  }
  main a {
    margin-bottom: 20px;
  }
}
